# My Sales Performance
> This notebook is to analyse my sales perfomance from 2018 september, the date i joined my organisation.

toc: false
branch: master
badges: true
comments: true
categories: [fastpages,CNC, Sales, Haas,Forecasting, VMC, colab]
author: Sharan Kumar
image: images/some_folder/your_image.png
hide: false
search_exclude: true
metadata_key1: metadata_value1
metadata_key2: metadata_value2

 Liberaries which we are going to use are mentioned. Any additional libraries will be added as and when required
 Pandas library is for basic operations like print, write , read , merge etc., so i add them in all notebooks
 Numpy library is for mathematical operations
 Matplotlib is for creating plots,  graphs and visual representation to better understand our findings

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

The last line is to ensure the plots open in same window instead of seperate window

 We are creating a dataframe, which will hold the data. In this case the data is in an excel sheet.
 for an earlier version of Excel, you may need to use the file extension of 'xls'
 We can give any name for the the data frame we created but I am giving the name df for shortform of dataframe
 (i know it's obvious but nevermind ). header =1 to mention that the first row is column name

In [2]:
df = pd.read_excel (r'..\Sharan\Sharan Performance.xlsx', header=2)

In [3]:
print (df)

                    Customer Machine     Month  Year         Sector  \
0          Limat Engineering    VF-4  February  2019       toolroom
1             DMV Industries    VF-4       May  2019  die and mould
2                    Sosher     VF-2      July  2019       toolroom
3                    Sosher   ST 20Y      July  2019       toolroom
4                   Texcel Q    VF-2    August  2019     production
5               Rapid ProMac    VF-4  December  2019     production
6  Royal Casting Engineering    VF-4   January  2020  die and mould
7               Rapid ProMac    VF-2  February  2020     production

        Region  Previous machine Stock machine
0      Chennai                 0            No
1      Chennai                 0            No
2  Kanchipuram                 0            No
3  Kanchipuram                 0            No
4  Kanchipuram                 7           Yes
5      Chennai                 2           Yes
6  Thiruvallur                 0            No
7      Chennai                 3           Yes

The above list contains list of customers who purchased haas machines from Me, Sharan Kumar.
The columns are: 

Customer: Customer name

Machine : Machine purchased from me

Month   : Month of purchase

Year    : Year of purchase

Sector  : Sector in which customer works in

Region  : District in which the company is located

Previous machine: Previous machine in same catagory the customer has. For example, if he is purchasing VMC then the table will 
have number of VMCs.

Stock machine : Whether the machine already exisitng in our stock or they had to be imported.

In [4]:
df.dtypes

Customer            object
Machine             object
Month               object
Year                 int64
Sector              object
Region              object
Previous machine     int64
Stock machine       object
dtype: object

In [7]:
df_new= df[['Customer','Machine','Month','Sector','Region','Stock machine']].astype(str)

In [ ]:
#convert_dict={'Customer':str,'Machine':str,'Month':str,'sector':str, 'region':str,'Stock machine':str}

In [8]:
#df = df.astype(convert_dict) 
df_new.dtypes

Customer         object
Machine          object
Month            object
Sector           object
Region           object
Stock machine    object
dtype: object

In [9]:
print(" Number of machines sold in 2018:",df['Machine'].where(df.Year==2018).count())

 Number of machines sold in 2018: 0

In [10]:
print("Number of machines sold in 2019:",df['Machine'].where(df.Year==2019).count())
print("\nThe machines sold in 2019:")
df['Machine'].where(df.Year==2019).value_counts()

Number of machines sold in 2019: 6

Different machines sold in 2019:

VF-4      3
VF-2      2
ST 20Y    1
Name: Machine, dtype: int64

In [11]:
print("Number of machines sold in 2020:",df['Machine'].where(df.Year==2020).count(),"*")
print("\nDifferent machines sold in 2020:\n")
print(df['Machine'].where(df.Year==2020).value_counts())
print("\n* Made till end of February")

Number of machines sold in 2020: 2 *

Different machines sold in 2020:

VF-4    1
VF-2    1
Name: Machine, dtype: int64

* Made till end of February

In [12]:
print(" Total number of machines sold:",df['Machine'].count())

 Total number of machines sold: 8

In [13]:
print("Different machines sold:")
df.groupby('Year')['Machine'].value_counts()

Different machines sold:

Year  Machine
2019  VF-4       3
      VF-2       2
      ST 20Y     1
2020  VF-2       1
      VF-4       1
Name: Machine, dtype: int64

I have been part of manav marketing since 2018 september that means I have been in company for 4 months in 2018. I have sold 6  machines in 2019 and 2 machine in 2020. The most sold machine is VF-4.

In [15]:
#df.groupby(['Year'])['Machine'].transform('count')
df1=df.groupby('Year')['Machine'].value_counts()
df1

Year  Machine
2019  VF-4       3
      VF-2       2
      ST 20Y     1
2020  VF-2       1
      VF-4       1
Name: Machine, dtype: int64

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(
    font_scale=1.5,
    style="whitegrid",
    rc={'figure.figsize':(20,7)}
)

In [ ]:
df['Yearly sales']=df.groupby(['Year'])['Machine'].transform('count')

In [ ]:
df.plot.bar(x={'2018','2019','2020'},y='Yearly sales',rot=0)
plt.show()